*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: scroll-behavior 5s ease-in;
}

body {
    background:rgb(19, 34, 39);
    width: 100vw;
}

.container {
    margin-left:auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 100%;    
}

.header {
    height: 5rem;
    display: flex;
    align-items: center;
    color:rgb(235, 226, 226);
    font-family: "Roboto", sans-serif;
    justify-content: space-between;
}


.logo-wrapper {
    margin-left:20px
}

.logo {
    color:inherit;
    font-size: 25px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
}

.logo span {
    color:rgb(233, 69, 4);
}

.navbar-link {
    height: 90%;
    color: #eedede;
    margin-right: 90px;
    display: flex;
    align-items:center;
}

.navbar-link li {
    list-style: none;
    margin-left: 20px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out;
}

.resume-btn {
    background: rgb(160, 6, 65);
    box-shadow: 0 0 9px 2px rgb(160, 6, 65);
    color:white;
    font-weight: 600;
    font-size:18px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left: 15px;
    border: none;
    border-radius: 9px;
    transition: opacity .3s ease-in-out;
}

.resume-btn:hover {
    opacity: .7;
}

.navbar-link li:hover {
    background-color: rgb(134, 135, 151);
}

.menu-icon {
    width: 40px;
    height: 40px;
    display: none;
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    margin-inline: auto;
    width: 95%;
    padding-top: 10px;
}

.my-img {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-img img {
    width: 30%;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    cursor: pointer;
}

.middle-section .greetings {
    text-transform: uppercase;
    color: rgb(202, 198, 198);
    text-align: center;
    font-size: 18px;
}


.my-knowledge {
    width: 460px;
}

.my-knowledge h2 {
    font-size: 2.9rem;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #ffdffdbd;
}

.brief-intro {
    text-align: center;
    width: 770px;
    font-family: "Roboto", sans-serif;

}

.brief-intro p {
    font-size: 20px;
    color: rgb(230, 226, 226);
    margin-bottom: 25px;

}

.brief-intro span {
    color: rgb(160, 6, 65);
}

.brief-intro-btn {
    background: rgb(160, 6, 65);
    box-shadow: 0 0 9px 2px rgb(160, 6, 65);
    color:white;
    font-weight: 600;
    font-size:18px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left: 15px;
    border: none;
    border-radius: 9px;
    transition: opacity .3s ease-in-out;
}

.brief-intro-btn:hover {
    opacity: .7;
}



.third-section {
    display: flex;
    align-items: center;
    justify-content: center;
}




.third-section {
    margin-top: 150px;
}

.about-wrapper {
    height: 310px;
    width:800px;
}

.about-wrapper h1{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.about-me {
    font-size: 20px;
    color: rgb(223, 223, 223);
    padding-bottom: 10px;
    text-align: justify;
}

.about-me span {
    cursor: pointer;
    font-weight: bold;
    color:rgb(160, 6, 65);
}

.about-me a {
    text-decoration: none;
}
.about-me a:link {
    color:rgb(25, 25, 247);
}

.about-img {
    width: 300px;
}

.final-section {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final-section h1 {
    color: white;
}

.svg {
    display: flex;
    flex-direction: row;
}


.svg .icon{
    color: white;
    width: 50px;
    height: 50px;
    cursor:pointer;
    margin-left: 10px;
}

.icon:hover {
    color:lightblue;
}



/*extra small XS*/
@media (min-width:475px) {
    .container {
        max-width:475px;
    }
}


/*small device Sm*/
@media (min-width:640px) {
    .container {
        max-width: 640px;
    }
}



/*medium device md*/
@media (min-width:768px) {
    .container {
        max-width: 768px;
    }
}



/*large device lg*/
@media (min-width:1024px) {
    .container {
        max-width: 1024px;
    }

}


/*extra large xl*/
@media (min-width:1280px) {
    .container {
        max-width: 1280px;
    }

}


/*extra large xl*/
@media (min-width:1536px) {
    .container {
        max-width: 1536px;
    }
}



